<div class="container">

  <div class="col-md-12">

    <h1>Área do Cliente</h1>

    @if (client) {

    <div class="well">

      <div class="/">
        <div class="col-md-6">
          <strong>Cliente:</strong> {{ client.name }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <strong>E-mail:</strong> {{ client.email }}
        </div>
      </div>

    </div>
    }

    <h2>Solicitações</h2>

    <table class="table table-striped table-bordered table-hover">

      <tbody>

        <tr>
          <th>Data/Hora</th>
          <th>Equipamento</th>
          <th>Estado</th>
          <th class="text-center">Ações</th>
        </tr>

        @if (requests.length === 0) {
        <tr>
          <td colspan="4">Nenhuma solicitação cadastrada.</td>
        </tr>
        }

        @else{
        @for(request of requests; track request.id){
        <tr>
          <td>
            {{ request.requestDateTime | date:'dd/MM/yyyy HH:mm' }}
          </td>
          <td>
            {{request.equipmentDescription}}
          </td>
          <td>
            <span class="status-badge" [ngClass]="'status-' + request.status.toLowerCase()">
              {{getStatusLabel(request.status)}}
            </span>
          </td>


          <td class="text-center">

            <button type="button" class="btn btn-primary btn-sm" (click)="openRequest(request.id)">
              Visualizar
            </button>

            @if (canReviewQuote(request)) {
            <button type="button" class="btn btn-success btn-sm" (click)="openQuote(request.id)">
              Aprovar/Rejeitar Serviço
            </button>
            }

            @switch (request.status) {

            @case ('REJECTED') {
            <button type="button" class="btn btn-warning btn-sm" (click)="rescueRequest(request.id)">
              Resgatar Serviço
            </button>
            }

            @case ('FIXED') {
            <button type="button" class="btn btn-success btn-sm" (click)="payRequest(request.id)">
              Pagar Serviço
            </button>
            }
            }
          </td>
        </tr>
        }
        }
      </tbody>

    </table>

    <button type="button" class="btn btn-default" (click)="logout()">
      <i class="fa fa-sign-out"></i> Sair
    </button>
    <button type="button" class="btn btn-default" (click)="OpenTicket()">
      <i class="fa fa-ticket"></i> Abrir Chamado
    </button>

  </div>

</div>
