<div class="container">

  <div class="col-md-12">

    <h1>Área do Funcionário</h1>

    @if (employee) {

      <div class="well">
        <strong>Funcionário:</strong> {{ employee.name }}
      </div>

    }

      <a class="btn btn-primary me-2 mt-3" type="button" [routerLink]="['/employee/list']"> Funcionários </a>
      <a class="btn btn-primary me-2 mt-3" type="button" [routerLink]="['/employee/revenue-report']"> Relatório de Receita por Data </a>
      <a class="btn btn-primary me-2 mt-3" type="button" [routerLink]="['/employee/revenue-report-category']"> Relatório de Receita por Categoria </a>

    <h2 class="mt-4">Solicitações Abertas</h2>

    <table class="table table-striped table-bordered table-hover mt-4">

      <tbody>

        <tr>
          <th>Data/Hora</th>
          <th>Cliente</th>
          <th>Equipamento</th>
          <th class="text-center">Ações</th>
        </tr>

        <tr>
          <th class="text-center">{{clientRequest.dateRequested}}</th>
          <th class="text-center">{{clientRequest.clientName}}</th>
          <th class="text-center">{{clientRequest.equipamentName}}</th>
          <th class="text-center">
            <a class="btn btn-primary" [routerLink]="['/employee/budget']"> Gerar Orçamento </a>
          </th>
        </tr>

      </tbody>

    </table>

    <button type="button" class="btn btn-default" (click)="logout()">
      <i class="fa fa-sign-out"></i> Sair
    </button>

  </div>

</div>